.coursePage{
    padding-top: 4rem;
    height:auto;
    min-height: auto;
    background-color: #F4F4F4;
    font-family: Sofia Sans;
    position: relative;
}
.topBanner1{
    background-color: #0E0035;
    height: 20rem;
    width:100%;
    padding:3.4rem 10vw;
    padding-bottom:2rem ;
    font-size: 2.8rem;
    font-family: Sofia Sans;
    color: white;
    display: flex;
    gap: 2rem;
    font-weight: 500;
    box-sizing: border-box;
}

.bannerText1{
    width:50vw
}
.imageDiv1{
    align-items: center;
    height: 14rem;
}
.bannerImg1{
    width:28vw;
    height:14rem;
    border-radius: 10px;
}
.ratingStar1{
    font-size: 1rem;
    color: #F89D07;
    display: flex;
    gap:0.5rem;
    align-items: center;
    height: 2.5rem;
}
.starOP{
    display: flex;
    gap: 0.45rem;
}
.creatorName1{
font-size: 0.85rem;
font-weight: 300;
display: flex;
gap: 1.8rem;
}
.courseDetails{
    width:100%;
    padding: 3rem 30vw;
    padding-left: 15vw;
    padding-bottom: 1rem;
    height:11.4rem;
    background: #5928E5;
    display: flex;
    gap:5vw;
    align-items: center;
    box-sizing: border-box;

}
.detailSec{
    font-family:Sofia Sans;
    width:14vw;
    height:5.8rem;
    font-size: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
   min-width: fit-content;
   font-weight: 800;
   line-height: 4.2rem;
   position: relative;
   gap:0.2rem
}
.detailSec>span{
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.detailSec::before{
    content: '';
    position: absolute;
    top:-15%;
    left: -2.8%;
    border-top: 4px solid #00FF84;
    width: 2.5rem;
    outline: none;
    border-radius: 20px;
 }
 #ds1,#ds2{
    width:2.5rem;
 }
    .topSec{
        position: relative;
        height: 94.75rem;
        margin-bottom: 20rem;
    }
    .fixCar{
        position: absolute;
        top:16.4%;
        height: 100%;
        width: 100%;
        right:9%
    }
    .fixedCard{
        display: flex;
        flex-direction: column;
        position: sticky;
        top:12%;
        /* top:0;*/
        right:0;
        min-width:17rem;
        height:36rem;
        /* width: 22vw; */
        align-items: flex-end;
        gap:1rem;
        z-index: 1;
        /* padding-right:2rem ; */
    }
    .drawE{
        position: absolute;
        width:24rem;
        left:-16%;
        top:-8%

    }
    .fixCard1{
        float: right;
        display: flex;
        flex-direction: column;
        width:23vw;
        min-width: 17rem;
        height:19rem;
        border-radius: 15px;
        z-index: 1;
        background-color: white;
        padding:1.6rem 1rem;
        box-sizing: border-box;
        gap:0.25rem
    }
    .fixCard2{
        display: flex;
        flex-direction: column;
        width:23vw;
        min-width: 17rem;
        height:14rem;
        border-radius: 15px;
        z-index: 1;
        background-color: white;
        box-sizing: border-box;
        padding: 1.2rem 1rem;
        font-weight: 600;
        font-size: 1.2rem;
        gap:1.3rem
    }
    .fc1{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 500;
        gap:1rem;
    }
    .fc2{
        display: flex;
        gap:1rem;
        align-items: center;
    }
    .fc2>img{
height:1.4rem;
width: 1.4rem;
    }

    .preve{
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        gap:0.8rem;
        align-items: center;
        height:3rem;
    }
    .pSec{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    }
    .pricingCard{
        width:8rem;
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        gap:0.2rem;

    }
    .pricingCard>span{
        font-size: 1rem;
        font-weight: 600;
    }
    .courseCButton{
        min-height: 2.5rem;
border-radius: 20px;
font-size: 1rem;
font-weight: 600;
font-family: Sofia Sans;
padding: 0.5rem 1.15rem;
margin: 0.2rem 0;
border: 2px solid #5928E5;
color: #5928E5;
background: white;
cursor:pointer;
outline: none;
    }
    #C2{
        background-color: #5928E5;
        color: white;
    }
    .courseCButton:active{
        background-color: #5928E5;
        color: white;
    }
    #C2:active{
        background-color: white;
        color: #5928E5;
    }
.aboutCourse{
    margin:4rem 0;
    padding-left:10vw ;
    padding-right: 10vw;
    color: #2A2832;
    font-size: 1.05rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aboutCourse>h1{
    margin:0;
    font-size: 2rem;
    font-weight: 600;
}
.aboutCourse>p{
    width:42vw;
    min-width: 26rem;
    font-weight: 600;
    min-height: 10rem;
}
.creatorIntro{
    color: black;
    display: flex;
    gap:2rem
}
.creatorInt{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    justify-content: center;
}
.creatorInt>p{
    font-size: 1.15rem;
    padding-bottom: 0.7rem;

font-weight: 600;}
.creatorInt>h1{
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
}
.reviewBox{
    background-color: #FFF8ED;
    width:48vw;
    min-width:25rem ;
    /* height:44rem; */
    padding: 2rem;
    box-sizing: border-box;
    padding-bottom: 4.5rem;
    border-radius: 15px;
    position: relative;
}
.reviewHeading{
    font-size: 5rem;
    font-weight: bolder;
    color:#5928E5;
    height:5rem;
    width:10rem;
    display: flex;
    align-items: center;
}
.reviewHeading>img{
    width:3.6rem
}
.reviewHeading2{
font-size: 1.45rem;
font-weight: 600;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 4rem;
}
.reviewHeading2>span{
    color: #5928E5;
}
.reviewBox1{
    margin-top: 1.5rem;
}
.reviewDetail{
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}
.reviewRating{
    display: flex;
    flex-direction: column;
    gap:0.2rem
}
.reviewDet{
    display: flex;
gap:1rem
}
.dateRev{
}
.reviewRating>p{
    display: flex;
    gap:0.4rem;
    align-items: center;
    
}

.RButton{
    min-height: 2.5rem;
border-radius: 20px;
font-size: 1rem;
font-weight: 600;
font-family: Sofia Sans;
padding: 0.5rem 1.15rem;
margin: 0.2rem 0;
border: 2px solid #5928E5;
color: #5928E5;
background: transparent;
cursor:pointer;
outline: none;
position: absolute;
bottom:3%;
left:5%;
width:43vw;
min-width: 21rem;
}
.RButton:active{
    background-color: #5928E5;
    color: #FFF8ED;

}
.reviewBox1>p{
    /* height:8rem; */
}
.teachFooter{
padding:1rem 10vw;
background: #0E0035;
font-size: 1.2rem;
color:white;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}
.footButton{
    min-height: 2.5rem;
border-radius: 1rem;
font-size: 1rem;
font-weight: 600;
font-family: Sofia Sans;
padding: 0.5rem 1.15rem;
margin: 0.2rem 0;
border: 2px solid white;
color: white;
background: transparent;
cursor:pointer;
outline: none;
}
.footButton:active{
    background-color: white;
color: #0E0035;
}
.giveRating{
    width: 29.8rem;
height: 34rem;
padding: 2rem;
background: white;
border-radius: 0.75rem;
box-sizing: border-box;
display: flex;
flex-direction: column;
gap:2rem
}
.giveRating1>span{
font-size: 1.6rem;
}
.giveRating1{
    display: flex;
flex-direction: column;
    gap: 1.2rem;
}
.clickRate{
    display: flex;
    gap:0.5rem;
    height:3.8rem;
}
.revComment{
    border-radius: 0.5rem;
border: 1px solid #F89D07;
background: #FFF5E5;
width: 25rem;
height: 15rem;
resize:none;
outline: none;
padding: 1.2rem;
font-size: 1.3rem;
box-sizing: border-box;
font-family: Sofia Sans;
}
#postRev{
    position: static!important;
    min-width: none;
    width:fit-content;
    color: #fff;
    background-color: #5928E5;
    font-weight: 500;
}
.modR{
    z-index: 40;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0
}