@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.sidestrip{
    background-image: url('../../../assets/bg.svg');
    float:left;
    display: flex;
    height: 100vh;
    width: 30vw;
    min-width: 10vw;
    align-items: center;
    justify-content: center;
}
.log{
    margin-left: 13vw;
    margin-right: 0vw;
    height:50vh;
    width:40vw;
}
.login_section{
    margin-top: 11vh;
    float:right;
    height:100vh;
    width:55vw;
    display: flex;
    flex-direction: column;

}
.loginStatement{
    font-size: 2rem;
    font-family: Sofia Sans ;
    font-weight: 700;
    margin-top: 15vh;
}
.loginStatement >span{
color:#5928E5;
}
.loginStatement1{
    font-size:1rem;
    font-family: Work Sans;
    font-weight: 400;
}
.input-login{
  position: relative;
  width: 42vw;
}
.input-login> input{
  width: 42vw;
  height: 3.6rem;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 0 2vw;
  border: 2px solid black;
  outline: none;
  box-sizing: border-box;
}
.belowButton{
  font-family: Sofia Sans;
  display: flex;
  justify-content: space-between;
  width:42vw;
}
.fort{
  text-decoration: none;
  color:#1D7AE8;
}
#checkbox{
width:1rem;
height: 1rem;
/* position: absolute; */
margin-right: 3px;
transform: translateY(20%) ;
}
#pwd{
width:42vw;
padding-right: 4vw;
}
.input-login> input::placeholder{
  font-family: Work Sans;
}
.input-login> label{
  position: absolute;
  left: 18px;
  font-size: 0.8rem;
  padding: 0 0.3rem;
  transform: translateY(-50%);
  font-family:Sofia Sans ;
  font-weight: 800;
  background: white;
}
.error-label{
  color: red;
}
.error-message {
  position: absolute;
  font-family: Sofia Sans;
  top: 110%; 
  left: 20px;
  color: red;
  font-size: 0.8rem;
}
.logButton{
width: 42vw;
height: 3.6rem;
border-radius: 20px;
font-size: 1.2rem;
padding: 0 2vw;
box-sizing: border-box;
border: 2px solid #5928E5;
color: white;
background: #5928E5;
opacity: 0.8;
cursor:pointer
}
.logButton:active,.logButton:hover {
opacity:1;
}
.logButton:active{
background: #3F1F9B;
border: 2px solid #3F1F9B;
}
#otpsec{
  margin-top: 4vh;
}
#otpstate{
font-size: 2.5rem;
}
#otpstate2{
  margin-top:2vh;
  font-weight: 500;
}
#otemail{
  /* text-decoration: underline; */
  color:black;
  font-weight:600;
  
}
#otpp
{
  margin:2vw 0vw;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap:2rem
}
#forgotlog
{
  width:27vw;
}
#forgorlog{
  margin-top:9vh;
  font-size: 2.5rem;
}
#forg{
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  gap:5vh;
}
#otpCont{
  width:100%;
  position: relative;
  display: flex;
  gap:3.6rem;
}
#otpButton{
  width:25.5rem
}
#otpOK
{
  font-family: Sofia Sans;
  font-size: 2rem;
  width:3rem;
  height:3rem;
  border-radius: 1rem;
  /* margin:0 1vw;n */
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  outline: none;
}
#lb{
  transform: translateY(-45%);
}
body{
  margin:0;
  padding: 0;
  overflow-y: hidden;
}
.success{
  background: #5928E5;
    /* color: #fff; */
    font-size: 20px;
    font-family: SOFIA SANS;
    width: 20vw;
    margin: 10px;
}
.passwordStrengthBar{
width:1rem;
height:0.04rem;
background-color: #6B6D7C;
}
.countdown{
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: left;
  width:26.5rem;
  text-align: center;
  height:1.8rem;
}
p{
  margin:0
}
#resend{
  align-items: center;
  width: 26.5rem;
}
#resendButton{
  display: flex;
  flex-direction: column;
  font-family: Work Sans;
  font-weight: 600;
 color: #1D7AE8;
 background-color: transparent;
 height:1.2rem;
 align-items: center;
 justify-content: center;
 margin:0;
 padding:0;
 border: none;
 cursor: pointer;
 text-decoration: underline;
}
.authFooter{
  font-family: Sofia Sans;
  font-size: 1.2rem;
  font-weight: 600;
  width:42vw;
  color:black;
  text-align: center;
  padding-top: 1rem;
  border-top:2px solid grey;
  margin-bottom: 1rem;
}
#resendButton:disabled{
  cursor:not-allowed;
}

.logoMobile{
  position: absolute;
  display:none;
}
svg {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
}


@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}


circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: white;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}


@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
.sv{
  margin-top:5px;
  
}
.logButton:disabled{
  background: #5928E5;
border: 2px solid #5928E5;
  cursor: not-allowed;
}
