@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.sidestrip{
    background-image: url('../../../assets/bg.svg');
    float:left;
    display: flex;
    height: 100vh;
    width: 30vw;
    min-width: 10vw;
    align-items: center;
    justify-content: center;
}
.log{
    margin-left: 13vw;
    margin-right: 0vw;
    height:50vh;
    width:40vw;
}
.login_section{
    margin-top: 11vh;
    float:right;
    height:100vh;
    width:55vw;
    display: flex;
    flex-direction: column;

}
.loginStatement{
    font-size: 2rem;
    font-family: Sofia Sans ;
    font-weight: 700;
    margin-top: 15vh;
}
.loginStatement >span{
color:#5928E5;
}
.loginStatement1{
    font-size:1rem;
    font-family: Work Sans;
    font-weight: 400;
}
.input-login{
  position: relative;
  width: 42vw;
}
.input-login> input{
  width: 42vw;
  height: 3.6rem;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 0 2vw;
  border: 2px solid black;
  outline: none;
  box-sizing: border-box;
}
.belowButton{
  font-family: Sofia Sans;
  display: flex;
  justify-content: space-between;
  width:42vw;
}
.fort{
  text-decoration: none;
  color:#1D7AE8;
}
#checkbox{
width:1rem;
height: 1rem;
/* position: absolute; */
margin-right: 3px;
transform: translateY(20%) ;
}
#pwd{
width:42vw;
padding-right: 4vw;
}
.input-login> input::placeholder{
  font-family: Work Sans;
}
.input-login> label{
  position: absolute;
  left: 18px;
  font-size: 0.8rem;
  padding: 0 0.3rem;
  transform: translateY(-50%);
  font-family:Sofia Sans ;
  font-weight: 800;
  background: white;
}
.error-label{
  color: red;
}
.error-message {
  position: absolute;
  font-family: Sofia Sans;
  top: 110%; 
  left: 20px;
  color: red;
  font-size: 0.8rem;
}
.logButton{
width: 42vw;
height: 3.6rem;
border-radius: 20px;
font-size: 1.2rem;
padding: 0 2vw;
box-sizing: border-box;
border: 2px solid #5928E5;
color: white;
background: #5928E5;
opacity: 0.8;
cursor:pointer
}
.logButton:active,.logButton:hover {
opacity:1;
}
.logButton:active{
background: #3F1F9B;
border: 2px solid #3F1F9B;
}
#otpsec{
  margin-top: 4vh;
}
#otpstate{
font-size: 2.5rem;
}
#otpstate2{
  margin-top:2vh;
  font-weight: 600;
}
#otemail{
  text-decoration: underline;
  color:#1D7AE8;
}
#otpp
{
  margin-top:10vh;
  margin-bottom: 3vh;
  font-size: 1.5rem;
  font-weight: 500;
}
#forgotlog
{
  width:27vw;
}
#forgorlog{
  margin-top:9vh;
  font-size: 2.5rem;
}
#forg{
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  gap:5vh;
}
#otpCont{
  
}
#otpOK
{
  font-family: Sofia Sans;
  font-size: 2rem;
  border:2px solid black;
  width:3.5vw;
  height:3.5vw;
  border-radius: 1.2vw;
  margin:0 1vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#lb{
  transform: translateY(-20%);
}
body{
  overflow-y:hidden;
}
.success{
  background: #5928E5;
    /* color: #fff; */
    font-size: 20px;
    font-family: SOFIA SANS;
    width: 20vw;
    margin: 10px;
}
.passwordStrengthBar{
width:1rem;
height:0.04rem;
background-color: #6B6D7C;
}
