@font-face {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('../../assets/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
  }
.homePage{
    padding-top:4rem
}
#cardImg{
    width: 15rem;
height: 8.9375rem;
border-radius: 1rem ;
}
.cardCont{
    font-family:Sofia Sans;
    font-size:1.5rem;
    font-weight: 800;
    width: 16rem;
height: 18.6875rem;
display: flex;
flex-direction: column;
padding:0.5rem;
box-sizing: border-box;
position:relative
/* align-items: center; */
/* text-align: left; */
/* flex-shrink: 0; */
}
.creatorName{
    font-weight: 400;
    font-size: 0.75rem;
}
.star{
    height:0.9rem;
    position:absolute
}
.rating{
    margin-top: 0.3rem;
}
.costCard{
position:absolute;
bottom:0.5rem;
left:0.75rem
}
.homeButton{
    font-family: Sofia Sans;
    width: 5.25rem;
height: 1.875rem;
border-radius: 20px;
font-size: 0.5rem;
box-sizing: border-box;
border: none;
color: white;
background: #5928E5;
cursor:pointer;
position: absolute;
bottom:0.5rem;
right:0.75rem;
}
.homePage{
 font-family: Sofia Sans;
}
.topBanner{
    width:100vw;
    height:21rem;
    position : relative;
}
.bannerText{
    font-size: 2.7rem;
    width:25rem;
    color:#29185B;
    font-family: 'Integral CF';
    padding-top: 2.5rem;
    padding-left:10vw
}
.bannerText2{
    font-size: 1.2rem;
    width:20rem;
    padding-top: 1rem;
    padding-left:10vw;
}
#bannerButton{
    width:8rem;
    height:2.5rem;
    font-size: 0.85rem;
    left:10vw;
}
#bannerImg{
    position: absolute;
    right:4rem;
    width:32vw;
    top:18%;
}
