::root{
    --primary:#5928E5;
}
@font-face {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('../../assets/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
  }
.homePage{
    padding-top:4rem;
    overflow-x: hidden;
}
#cardImg{
    width: 96%;
    min-width: 10rem;
height: 7.5rem;
border-radius: 0.8rem ;
}
.cardCont{
    font-family:Sofia Sans;
    font-size:1.2rem;
    font-weight: 800;
    width: 100%;
    min-width: 12rem;
height: 17rem;
display: flex;
flex-direction: column;
padding:0.5rem;
box-sizing: border-box;
position:relative;
gap:0.2rem;
/* align-items: center; */
/* text-align: left; */
/* flex-shrink: 0; */
}
.creatorName{
    font-weight: 400;
    font-size: 0.75rem;
}
.star{
    height:0.9rem;
}
.rating{
    margin-top: 0.3rem;
    display: flex;
}
.costCard{
position:absolute;
bottom:0.5rem;
left:0.75rem
}
.homeButton{
    font-family: Sofia Sans;
    width: 5.25rem;
height: 1.875rem;
border-radius: 20px;
font-size: 0.625rem;
box-sizing: border-box;
border: none;
color: white;
background: #5928E5;
cursor:pointer;
position: absolute;
bottom:0.5rem;
right:0.75rem;
}
.homePage{
 font-family: Sofia Sans;
}
.topBanner{
    width:100vw;
    height:21rem;
    position : relative;
    display: flex;
    /* gap:10vw; */
    justify-content: space-between;
}
.bannerText{
    font-size: 2.7rem;
    width:25rem;
    color:#29185B;
    font-family: 'Integral CF';
    padding-top: 2.5rem;
    padding-left:10vw
}
.bannerText2{
    font-size: 1.2rem;
    width:20rem;
    padding-top: 1rem;
    padding-left:10vw;
}
#bannerButton{
    position: static;
    width:8rem;
    height:2.5rem;
    font-size: 0.85rem;
    margin-left:7rem ;
    margin-top: 2rem;
}
#bannerImg{
    width:32vw;
    padding-right: 8vw;
}
.categoriesDisplay{
    font-weight: 400;
    margin-top:5rem;
    padding-left: 10vw;
    font-size: 1rem;
}
.subHeadingHome{
    font-size: 1.8rem;
    color: #29185B;
    font-weight: 700;
}
.catBar{
    padding-left: 0;
    margin:0;
    display: flex;
    gap:3rem;
    
    font-weight: 700;
    margin-top: 2rem;
    height:1.8rem;
    align-items:flex-end;
}
.catItem{
    font-size: 1.2rem;
    list-style-type: none;
}
.catLink{
    text-decoration: none;
    color:black;
    background-color: white;
    border-bottom:2px solid transparent ;
    position: relative;
}
  .catLink:hover::before, .catLink:focus::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.8%;
    border-bottom: 2px solid black;
    width: 95%;
 }
 .catLink:hover, .catLink:focus{
    color: #5928E5;}
    .popularCourse
    {
        margin-top: 2rem;
        height:25rem;
        display:flex;
        flex-direction: column;
        gap:0.5rem
    }
    .popularButton{
        font-family: Sofia Sans;
    width: 5.25rem;
height: 1.875rem;
border-radius: 20px;
font-size: 0.65rem;
box-sizing: border-box;
border: none;
color: white;
background: #5928E5;
cursor:pointer;


    }
    .carouselItem{
        padding-right: 1rem;
    } 
    .slid{
        width:100vw
    }
    .slick-slider.slick-initialized {
        width: 100%;
        position: relative;
      }
      button.slick-next {
        height:3rem;
        width:3rem;
        background-image: url('../../assets/nextButton.svg')!important;
background-position: center center!important;
background-repeat: no-repeat!important;
background-size: contain!important;

      }
      button.slick-next:active{
        height:3rem;
        width:3rem;
        background: url('../../assets/nextButtonC.svg')!important;
        background-position: center center!important;
        background-repeat: no-repeat!important;
background-size: contain!important;
    }
        .slick-next::before {
        display: none;
        }
        button.slick-prev {
            height:3rem;
            width:3rem;
            background-image: url('../../assets/nextButton.svg')!important;
            transform: scaleX(-1);
            position: absolute;
            top:41.5%;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    z-index:1;
    
          }
          button.slick-prev:active{
            height:3rem;
            width:3rem;
            transform: rotate(180deg);
            background: url('../../assets/nextButtonC.svg')!important;
            background-position: center center!important;
            background-repeat: no-repeat!important;
    background-size: contain!important;
        }
            .slick-prev::before {
            display: none;
            }
#tite{
    /* height:10rem */
}
.whyIlearn{
  
    font-family: 'Integral CF';
    font-size: 1.6rem;
    color:#29185B;
    padding-left:14vw;
    border-top: 1.8px solid transparent ;
    padding-right: 14vw;
}
   .yIlearn{
    padding: 5rem 0;
    border-top: 1.8px solid transparent;
    border-image: linear-gradient(to right, white,black,white);
    border-image-slice: 1;
    border-bottom: 1.8px solid transparent;
    border-image: linear-gradient(to right, white,black,white);
    border-image-slice: 1;

   }
    .ansSec{
        display:flex;
        position: relative;
        padding-top:10rem ;
        justify-content: space-between;
        align-items: center;   }
    .ansText{
        flex-direction: column;
        width:24rem;
        z-index: 1;
        padding-left: 5rem;
        

    }
    .ansImg{
        width:30vw;
        height:16rem;

    }
    .bigNum{
        font-size: 28rem;
        font-family: Sofia Sans;
        font-weight: 700;
        color: white;
        text-shadow: -2px 2px 0 #FCEDF2, 
                        2px 2px 0 #FCEDF2, 
                        2px -2px 0 #FCEDF2, 
                        -2px -2px 0 #FCEDF2;
        position: absolute;
        line-height: 28rem;
        left:-4%
    }
    .writings{
        font-family: Sofia Sans;
        font-size: 1rem;
        color: black;
        width:23rem;
        padding-top: 0.4rem;
    }
    #big2{
        left:60%
    }
    .userSay{
        margin-top: 5rem;
    }
    #userSaywritings{
        width:24rem;
        padding-top: 0.8rem;
    }
    .cardCont2{
        font-family:Sofia Sans;
        font-size:0.95rem;
        font-weight: 500;
        min-width: 14rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    padding:1.2rem;
    box-sizing: border-box;
    position:relative;
    gap:0.2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 0.8rem;

    }
    .Card2{
        min-width:15rem;
        height: 18rem;
        display: flex;
        align-items: center;
        padding: 1.5rem;
    }
    .textCard2{
        height:8rem;
        z-index: 1;
        padding-bottom: 0.2rem;
    }
    .userNameCard2{
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    font-weight: 800;
    gap:0.4rem
    }
    .lowCard2{
        border-top: 1.8px solid black;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        display: flex;
        gap:0.4rem
    }
    .titleCard2{
        color:#5928E5;
        font-weight: 700;
        font-size: 0.9rem;
    }
    .creatorNameCard2{
        padding-top: 0.2rem;
        font-size:0.6rem
    }
    #dc{
        position:absolute;
        top:0%;
        left:0%
    }
    #reviewSlide{
    /* margin-right:2rem; */
    padding:2rem 0rem;
    }
    .slid{
        width:84%
    }
    #eduC{
        padding-top: 6rem;
        border-top: 1.8px solid transparent;
    border-image: linear-gradient(to right, white,black,white);
    border-image-slice: 1;
    }
    #eduButton{
        position: static;
    width:8rem;
    height:2.5rem;
    font-size: 0.85rem;
    margin-top: 2.5rem;
    }
    #eduE>p{
        width:16rem;
        padding: 0;
    }
    #eduW{
        width:18rem;
    }