::root{
    --primary:#5928E5;
}
@font-face {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('../../assets/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
  }
.homePage{
    padding-top:4rem;
    overflow-x: hidden;
}
#cardImg{
    width: 96%;
    min-width: 10rem;
height: 7.5rem;
border-radius: 0.8rem ;
}
.cardCont{
    font-family:Sofia Sans;
    font-size:1.2rem;
    font-weight: 800;
    width: 100%;
    min-width: 12rem;
height: 17rem;
display: flex;
flex-direction: column;
padding:0.5rem;
box-sizing: border-box;
position:relative;
gap:0.2rem;
/* align-items: center; */
/* text-align: left; */
/* flex-shrink: 0; */
}
.creatorName{
    font-weight: 400;
    font-size: 0.75rem;
}
.star{
    height:0.9rem;
}
.rating{
    margin-top: 0.3rem;
    display: flex;
}
.costCard{
position:absolute;
bottom:0.5rem;
left:0.75rem
}
.homeButton{
    font-family: Sofia Sans;
    width: 5.25rem;
height: 1.875rem;
border-radius: 20px;
font-size: 0.625rem;
box-sizing: border-box;
border: none;
color: white;
background: var(--primary);
cursor:pointer;
position: absolute;
bottom:0.5rem;
right:0.75rem;
}
.homePage{
 font-family: Sofia Sans;
}
.topBanner{
    width:100vw;
    height:21rem;
    position : relative;
    display: flex;
    /* gap:10vw; */
    justify-content: space-between;
}
.bannerText{
    font-size: 2.7rem;
    width:25rem;
    color:#29185B;
    font-family: 'Integral CF';
    padding-top: 2.5rem;
    padding-left:10vw
}
.bannerText2{
    font-size: 1.2rem;
    width:20rem;
    padding-top: 1rem;
    padding-left:10vw;
}
#bannerButton{
    width:8rem;
    height:2.5rem;
    font-size: 0.85rem;
    left:10vw;
}
#bannerImg{
    width:32vw;
    padding-right: 8vw;
}
.categoriesDisplay{
    font-weight: 400;
    margin-top:5rem;
    padding-left: 10vw;
    font-size: 1rem;
}
.subHeadingHome{
    font-size: 1.8rem;
    color: #29185B;
    font-weight: 700;
}
.catBar{
    padding-left: 0;
    margin:0;
    display: flex;
    gap:3rem;
    
    font-weight: 700;
    margin-top: 2rem;
    height:1.8rem;
    align-items:flex-end;
}
.catItem{
    font-size: 1.2rem;
    list-style-type: none;
}
.catLink{
    text-decoration: none;
    color:black;
    background-color: white;
    border-bottom:2px solid transparent ;
    position: relative;
}
  .catLink:hover::before, .catLink:focus::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.8%;
    border-bottom: 2px solid black;
    width: 95%;
 }
 .catLink:hover, .catLink:focus{
    color: #5928E5;}
    .popularCourse
    {
        margin-top: 2rem;
        height:30rem;
        display:flex;
        flex-direction: column;
        gap:0.5rem
    }
    .popularButton{
        font-family: Sofia Sans;
    width: 5.25rem;
height: 1.875rem;
border-radius: 20px;
font-size: 0.65rem;
box-sizing: border-box;
border: none;
color: white;
background: #5928E5;
cursor:pointer;


    }
    .carouselItem{
        padding-right: 1rem;
    } 
    .slid{
        width:100vw
    }
    .slick-slider.slick-initialized {
        width: 80vw;
        position: relative;
      }
      button.slick-next {
        height:3rem;
        width:3rem;
        background-image: url('../../assets/nextButton.svg')!important;
background-position: center center!important;
background-repeat: no-repeat!important;
background-size: contain!important;

      }
      button.slick-next:active{
        height:3rem;
        width:3rem;
        background: url('../../assets/nextButtonC.svg')!important;
        background-position: center center!important;
        background-repeat: no-repeat!important;
background-size: contain!important;
    }
        .slick-next::before {
        display: none;
        }
        button.slick-prev {
            height:3rem;
            width:3rem;
            background-image: url('../../assets/nextButton.svg')!important;
            transform: scaleX(-1);
            position: absolute;
            top:41.5%;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    z-index:1;
    
          }
          button.slick-prev:active{
            height:3rem;
            width:3rem;
            transform: rotate(180deg);
            background: url('../../assets/nextButtonC.svg')!important;
            background-position: center center!important;
            background-repeat: no-repeat!important;
    background-size: contain!important;
        }
            .slick-prev::before {
            display: none;
            }
#tite{
    /* height:10rem */
}
.whyIlearn{
  
    font-family: 'Integral CF';
    font-size: 1.6rem;
    color:#29185B;
    padding-left:8vw;
    border-top: 2px solid transparent ;
    padding-right: 6vw;

}
    .whyIlearn::before{
        content:'';
        border-top: 2px solid grey;
        width:95%;
       
    }
    .ansSec{
        display:flex;
        position: relative;
        padding-top:10rem ;
        justify-content: space-between;
        align-items: center;   }
    .ansText{
        flex-direction: column;
        width:24rem;
        z-index: 1;
        padding-left: 7.5rem;
        

    }
    .ansImg{
        width:30vw;
        height:16rem;
        
    }
    .bigNum{
        font-size: 28rem;
        font-family: Sofia Sans;
        font-weight: 700;
        color: white;
        text-shadow: -2px 2px 0 #FCEDF2, 
                        2px 2px 0 #FCEDF2, 
                        2px -2px 0 #FCEDF2, 
                        -2px -2px 0 #FCEDF2;
        position: absolute;
        line-height: 28rem;
        left:0%
    }
    .writings{
        font-family: Sofia Sans;
        font-size: 1rem;
        color: black;
        width:23rem;
        /* line-height: 0rem; */
        
    }
    #big2{
        left:60%
    }
    .userSay{
        
    }