
.navbar-box {
    width: 94%;
    min-height: 3rem;
    padding: 0.5rem 4vw;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    position: fixed;
    top:0;
    z-index:2;
  }
  
  .innerbox {
    align-items: center;
    gap: 2.7vw;
    display: flex;
  }
  
  .logo {
    font-size: 2rem;
    font-family: Poppins;
    font-weight: 700;
  }
  .categories {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    color: black;
    font-size: 1.2rem;
    font-family: Sofia Sans;
    font-weight: 400;
  }

  
  .arrow {
    width: 0.8vw;
    height: 0.55vw;
    /* background: black; */
  }
  
  .search-bar {
    width: 25vw;
    padding: 0.4rem 0.8rem;
    border-radius: 16px;
    border: 2px #5928E5 solid;
    display: flex;
    gap: 1.4vw;
    align-items: center;
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left:3.5%;
  }
  
  .search-bar>input {
    padding-left:2vw;
    width: 90%;
    color: #414141;
    font-size: 1rem;
    font-family: Sofia Sans;
    font-weight: 400;
    border: none;
  }
  
  .search-bar>input:focus {
    outline: none;
  }
  
  .popular-courses,.teach,.sign-up {
    font-size: 1.2rem;
    font-family: Sofia Sans;
    font-weight: 400;
  }
  .sign-up{
    color:#5928E5;
    text-align: center;
    width:4rem;
  }
  .navLink{
  text-decoration: none;
  color:#5928E5;
  width:4rem
  }
  .navLink:active{
    color:#5928E5
  }